    #datatable_tabela {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'Verdana, sans-serif;
        font-size: 16px;
        color: black !important;
        font-weight: 500;
    }

    .dataTables_info, .dataTables_filter, .paginate_button {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
    }

    .dataTables_info {
        margin-left: 11px
    }

    .dataTables_paginate {
        margin-top: 8px;
        margin-right: 10px
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        border-radius: 10px !important;
        color: white !important;
        background-color: green !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: white !important;
        opacity: 0.8;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border-radius: 10px !important;
        font-size: 14px;
        margin: 1px
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border-radius: 10px !important;
        transform: scale(1.05);
        opacity: 0.9;
        transition: all 0.5s;
    }

    .dataTables_paginate .paginate_button.next.disabled {
        color: white !important;
        background-color: rgb(158, 159, 159) !important;
    }

    .dataTables_paginate .paginate_button.previous.disabled {
        color: white !important;
        background-color: rgb(158, 159, 159) !important;
    }

    .dataTables_paginate .paginate_button.next.disabled:hover {
        color: white !important;
        background-color: green !important;
    }

    .dataTables_paginate .paginate_button.previous.disabled:hover {
        color: white !important;
        background-color: green !important;
    }

    .dataTables_wrapper .dataTables_filter {
        margin: 10px;
    }

    .dataTables_filter input {
        width: 250px;
        border-radius: 10px
    }

    th tr td {
        color: black;
    }

    .tdtable {
        text-align: center;

    }

    .trtable th {
        color: white;
        background-color: black;
        text-align: center;
    }

    .tabeladiv {
        color: black;
        margin: 2px
    }

    .dt-button {
        color: white !important;
        width: auto;
        min-width: 80px;
        margin: 2px;
        cursor: pointer;
        font-weight: 800;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }

    .dt-button:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

    .dt-button.buttons-print {
        background: gray;
    }

    .dt-button.buttons-csv,
    .buttons-excel {
        background: green;
    }

    .dt-button.buttons-pdf {
        background: rgb(191, 6, 6);
    }

    table.dataTable td {
        font-size: 13px !important;
    }

    table.dataTable th {
        font-size: 14px !important;
    }

    button span {
        color: white !important
    }

    /* textos do buscar maiusculos */
    .dataTables_wrapper .dataTables_filter input {
        text-transform: uppercase;
    }